<div capture-keys="keypressCallback($event)">
    <div class="presentations-navigation-bar-wrapper">
        <div class="presentations-navigation-bar navbar">
            <ul ng-repeat="slide in allSlides" class="nav navbar-nav">
                <li ng-class="{active: slide==currentSlideId}"><a href="#/showSlide/{{slide}}">{{slide}}</a></li>
            </ul>
        </div>
    </div>

    <div class="presentationArea-wrapper">
        <div class="presentationArea" ng-bind-html-unsafe="content">
        </div>
    </div>
</div>
